img.blogsImg {
    width: 100%;
}
.blogsPage h2 {
    // color: #ecbe13 !important;
    font-family: futura;
    font-weight: 900;
    font-size: 2.1em;
}
.container {
    max-width: 100%;
}
.blogTxt > p {
    font-size: 1.4em !important;
    font-family: futura !important;
    letter-spacing: 0.03em;
}
.row a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ecbe13;
}
.row a {
    color: black;
}
b {
    font-size: 1.1em;
}
.jumbotron > a {
    font-size: 1.55em !important;
    color: #ecbe13;
}
a.viewMore:hover {
    color: #ecbe13 !important;
}
button.btn-outline-primary {
    border-color: #ecbe13 !important;
    color: #ecbe13 !important;
}
button.btn-outline-primary:hover {
    background-color: #ecbe13 !important;
    color: #fff !important;
}
.display-4 {
    font-weight: bold;
    color: #333;
    font-family: gothic-bold;
}
a > h3 {
    font-family: gothic-bold;
}
.jumbotron {
    padding: 1rem 1rem !important;
}
