<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron">
    <a class="navLink" [routerLink]="['/home']">Home > </a>
    <a class="navLink" [routerLink]="['/blogs']">Blogs > </a>
    <h1 class="display-4 text-center">BRINGING UP THE LATEST TRENDS</h1>
    <hr class="my-4" />
    <!-- <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <br>
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="container" [ngClass]="{'px-0': mobile}">
            <div class="text-center m-5" *ngIf="!blogsArr.length && isFetching">
                <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div *ngFor="let blog of blogsArr | keyvalue" [ngClass]="{'mb-5': mobile}">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a (click)="openLink(blog.value.blogURL)">
                            <h2 [ngClass]="{'mt-2': mobile}">{{blog.value.title}}</h2>
                        </a>
                        <span><b>Date:</b>&nbsp; {{blog.value.CreatedAt | date}}</span>&nbsp;&nbsp;
                        <span><b>By: </b> <span style="text-transform: capitalize;">{{blog.value.author}}</span>
                        </span>&nbsp;&nbsp;
                        <span><i class="fa fa-eye"></i> &nbsp; {{blog.value.views || 0}}</span>
                        <br>
                        <br>
                        <div class="blogTxt" [innerHTML]="blog.value.shortDes | slice:0:800">
                        </div>
                        <a class="viewMore" (click)="openLink(blog.value.blogURL)"
                            *ngIf="blog.value.shortDes.length > 799">View
                            More</a>
                    </div>
                    <div class="col-md-6 col-xs-12" (click)="openLink(blog.value.blogURL)">
                        <a><img class="blogsImg" [src]="blog.value.img"></a>
                    </div>
                </div>
                <hr class="my-4" />
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="loadPrev()">Previous</button>
        <button type="button" class="btn btn-outline-primary pull-right" (click)="loadNext()">Next</button>
    </div>
</div>