<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron blogsPage">
    <a class="navLink" [routerLink]="['/']">Home | </a>
    <a class="navLink" [routerLink]="['/blogs']">Blogs | </a>
    <h1 class="display-4 text-center">Blogs published by our Authors</h1>
    <hr class="my-4" />
    <!-- <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <br>
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="container mx-3 mw-100" [ngClass]="{'px-0': mobile}">
            <div class="text-center m-5" *ngIf="!blogsArr.length && isFetching">
                <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- <div class="row m-0">
                <div class="col-md-6" *ngFor="let blog of blogsArr | keyvalue">
                    <div class="card mb-3 rounded" [routerLink]="['/blog',blog.value.blogURL]">
                        <div class="row m-0 no-gutters">
                            <div class="col-md-6">
                                <img [routerLink]="['/blog',blog.value.blogURL]" [src]="blog.value.img" class="card-img"
                                    alt="Blog Image">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">{{blog.value.title}}</h5>
                                    <p class="card-text" [innerHTML]="blog.value.shortDes | slice:0:700"></p>
                                    <p class="card-text"><small class="text-muted">{{blog.value.CreatedAt |
                                            date}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row justify-content-md-center mb-0">
                <div class="col-sm-12 col-md-6 cursor-pointer mb-2 px-3" *ngFor="let blog of blogsArr | keyvalue"
                    [routerLink]="['/blog', blog.value.blogURL]">
                    <div class="brand-card customBorRadius" [ngClass]="{'mx-2': web}">
                        <div class="brand-card-header">
                            <img [src]="blog.value.img" class="blogImg" />
                        </div>
                        <div class="brand-card-body changeFlex">
                            <img src="../../assets/images/author2.png"
                                class="avatar img-raised avatar-img rounded-circle">
                            <span class="userNm">{{blog.value.author}} <span
                                    style="color: #e75555 ;text-transform: lowercase;font-style: italic;font-weight: normal;">wrote</span></span>
                            <br>
                            <br>
                            <h3 class="blogTitle">{{blog.value.title | slice:0:40}}<span
                                    *ngIf="blog.value.title.length>40">...</span></h3>
                            <br>
                            <!--
                            <span class="author"><i class="cui-user"
                                    style="vertical-align: middle;font-weight: bold;"></i>&nbsp;&nbsp;&nbsp;<b>By:
                                    &nbsp;</b><span
                                    style="text-transform: capitalize;vertical-align: middle;font-size: 120%;">{{blog.value.author}}</span></span>
                            <br>
                            <br> -->
                            <p class="blogText" [innerHTML]="blog.value.shortDes"></p>
                            <br>
                            <div class="ftr">
                                <div class="author pull-left pl-4">

                                </div>
                                <a class="stats onlyL pull-right" style="font-size: 1.5em;font-weight: 600;">Read Full
                                    Blog
                                    &nbsp;&nbsp;<i class="cui-arrow-right"></i></a>
                            </div>
                            <!-- <a class="pull-right">CONTINUE READING<i class="cui-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div *ngFor="let blog of blogsArr | keyvalue" [ngClass]="{'mb-5': mobile}">
                <div class="row cursor-pointer">
                    <div class="col-md-6 col-xs-12">
                        <a [routerLink]="['/blog',blog.value.blogURL]">
                            <h2 [ngClass]="{'mt-2': mobile}">{{blog.value.title}}</h2>
                        </a>
                        <span style="font-size: 1.4em;"><b>Date:</b>&nbsp; {{blog.value.CreatedAt |
                            date}}</span>&nbsp;&nbsp;
                        <span style="font-size: 1.4em;"><b>By: </b> <span
                                style="text-transform: capitalize;">{{blog.value.author}}</span>
                        </span>&nbsp;&nbsp;
                        <span style="font-size: 1.4em;"><i class="fa fa-eye"></i> &nbsp; {{blog.value.views ||
                            0}}</span>
                        <br>
                        <br>
                        <div class="blogTxt" [innerHTML]="blog.value.shortDes | slice:0:700">
                        </div>
                        <a class="viewMore" [routerLink]="['/blog',blog.value.blogURL]"
                            *ngIf="blog.value.shortDes.length > 699">View
                            More &nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="col-md-6 col-xs-12" [routerLink]="['/blog',blog.value.blogURL]">
                        <a><img class="blogsImg" [src]="blog.value.img"></a>
                    </div>
                </div>
                <hr class="my-4" />
            </div> -->
        </div>
        <button type="button" class="btn btn-outline-danger" (click)="loadPrev()">Previous</button>
        <button type="button" class="btn btn-outline-danger pull-right" (click)="loadNext()">Next</button>
    </div>
</div>