.couponHead {
    font-size: 1.7em !important;
    text-transform: capitalize;
    font-family: gothic-bold !important;
}
.notifications_area {
    padding-top: 0;
    padding-bottom: 0;
}
.notifications {
    max-width: 100%;
}
.roundImg {
    margin-top: 35px;
}
.text-muted {
    margin-top: 20px;
    font-size: 1.35em;
}
.brand-card:hover {
    cursor: pointer;
}
.modal-header {
    background-color: #20a8d8 !important;
    color: #fff !important;
}
.template2 {
    width: 100%;
    height: 50px;
    background-color: #40e0d0;
    border: 2px dashed #fff;
    font-size: 1.5em;
    color: #fff;
    padding-top: 9px;
    margin: 5px auto;
}
.xyz {
    font-size: 1.15em;
}
.jumbotron > a {
    font-size: 1.55em !important;
    color: #316b83;
}
a:hover {
    text-decoration: underline;
}
.bannerImgs {
    // width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.mwOwn {
    max-width: 25% !important;
    margin-right: 10px;
}
.desSize {
    font-size: 1.3em;
}
.productRow h2 {
    color: rgb(54, 51, 51);
    font-weight: 400;
    margin: 0;
}
.customCss {
    .card {
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.164);
        overflow: hidden;
    }
    .card-title {
        font-weight: 400;
    }
    .stats .text-value {
        font-size: 1.35em;
    }
    .stats .text-muted {
        font-size: 0.9em;
    }
    .card-text {
        font-size: 1.6em;
        color: rgb(122, 108, 108);
        font-weight: 500;
    }
}
.notifications .follow .media .media_body .btn_group span.confirm {
    font: 900 16px/25px futura;
    padding: 14px 20px;
}
.display-4 {
    font-weight: bold;
    color: #333;
    font-family: gothic-bold;
}
.mwOwn h3 {
    font-family: gothic-bold;
}
.mwOwn span {
    font-family: futura !important;
    font-size: 1.4em;
}
h6 {
    b,
    span {
        font-family: futura;
        font-size: 1.2em;
    }
}
.jumbotron {
    padding: 1rem 1rem !important;
}

img.rectImg {
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.6 ease;
    -webkit-transition: all 0.6s ease;
    -webkit-backface-visibility: hidden;
}
img.rectImg:hover {
    filter: none;
}
ul.notifications_content div.media_body {
    margin-top: 20px;
}
// div.first_child{
//     background-image: url("../../assets/images/untitled.png");
// }
