<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron" [ngClass]="{'p-0': mobile}" (click)="closeModal()"><a [routerLink]="['/home']">Home |
    </a>
    <a [routerLink]="['/stores']">Stores | </a>
    <a [routerLink]="['/store',storeURL]">{{storeURLToShow}}</a>
    <h1 class="display-4 text-center">{{storeName}}</h1>
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h1 class="display-4 text-center">{{storeDate}}</h1>
        <!-- <div class="col-md-8 text-center mx-auto">
        <span class="text-center xyz">March 2020</span>
    </div> -->
        <!-- <div class="col-md-8 text-center mx-auto">
        <span [innerHTML]="storeDetail" class="text-center xyz"></span>
    </div> -->
        <div [ngClass]="{'mx-5': !mobile}">
            <ul class="tranding_select tabs" style="background:transparent !important;height: auto;">
                <li class="tab"><a class="waves-effect btn" (click)="switch=1"
                        [ngClass]="{'active': switch==1}">Coupons</a></li>
                <li class="tab"><a class="waves-effect btn" (click)="fetchStores()"
                        [ngClass]="{'active': switch==2}">Suggested
                        Stores</a></li>
            </ul>
            <div class="row" *ngIf="switch==1 && !mobile">
                <div class="d-none d-md-block w-auto mwOwn" *ngIf="banners.length">
                    <a href="{{banner.value.trackingLink}}" target="_blank"
                        *ngFor="let banner of banners | keyvalue | sortby"><img class="bannerImgs"
                            [src]="banner.value.img"></a>
                </div>
                <div class="col text-center px-5">
                    <div class="text-center m-5" *ngIf="!couponsArray && isBusy">
                        <div class="lds-facebook">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <section class="notifications_area mx-5 text-left px-5" *ngIf="couponsArray"
                        style="background: transparent;">
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12 col-md-3 mx-2 text-center border rounded"
                                *ngFor="let coupon of couponsArray | keyvalue | sortby"
                                style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                                <img [src]="storePic" class="avatar my-3" alt="Store picture">
                                <hr class="my-2" style="border-color: #e75555;width: 60%;border-width: 3px;">
                                <br>
                                <div class="media" *ngIf="coupon.value.expDate > currentDate">
                                    <div class="media-body">
                                        <h2 class="mt-0 mb-1">{{coupon.value.offerBox}}</h2>
                                        <br>
                                        <button class="btn btn-outline-info"
                                            (click)="openModal2(template2,coupon.value)"
                                            *ngIf="!coupon.value.activeStatus">Copy
                                            Code</button>
                                        <button class="btn btn-outline-success"
                                            (click)="openModal(template,coupon.value)"
                                            *ngIf="coupon.value.activeStatus">Get
                                            Offer</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <div *ngIf="longDes" class="mx-5 px-5" [ngClass]="{'pl-3 pr-2': !mobile}">
                        <h1>About</h1>
                        <br>
                        <span [innerHTML]="longDes" class="xyz"></span>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="w-auto mwOwn text-center" *ngIf="postImages.length">
                    <div>
                        <a href="{{postImg.value.trackingLink}}" target="_blank"
                            *ngFor="let postImg of postImages | keyvalue | sortby"><img class="bannerImgs"
                                [src]="postImg.value.img"></a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="switch==1 && mobile">
                <div class="col-sm-12">
                    <div class="text-center m-5" *ngIf="!couponsArray && isBusy">
                        <div class="lds-facebook">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <section class="notifications_area" *ngIf="couponsArray">
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12 col-md-3 mx-2 text-center border rounded"
                                *ngFor="let coupon of couponsArray | keyvalue | sortby"
                                style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                                <img [src]="storePic" class="avatar my-3" alt="Store picture">
                                <hr class="my-2" style="border-color: #e75555;width: 60%;border-width: 3px;">
                                <br>
                                <div class="media" *ngIf="coupon.value.expDate > currentDate">
                                    <div class="media-body">
                                        <h2 class="mt-0 mb-1">{{coupon.value.offerBox}}</h2>
                                        <br>
                                        <button class="btn btn-outline-info"
                                            (click)="openModal2(template2,coupon.value)"
                                            *ngIf="!coupon.value.activeStatus">Copy
                                            Code</button>
                                        <button class="btn btn-outline-success"
                                            (click)="openModal(template,coupon.value)"
                                            *ngIf="coupon.value.activeStatus">Get
                                            Offer</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center" *ngIf="banners.length">
                            <a href="{{banner.value.trackingLink}}" target="_blank"
                                *ngFor="let banner of banners | keyvalue | sortby"><img class="bannerImgs"
                                    [src]="banner.value.img"></a>
                        </div>
                    </section>
                    <br>
                </div>
                <div class="col-sm-12 text-center text-center">
                    <div *ngIf="longDes">
                        <h3>About</h3>
                        <br>
                        <span [innerHTML]="longDes" class="xyz"></span>
                        <br>
                        <br>
                    </div>
                    <div *ngIf="postImages.length">
                        <a href="{{postImg.value.trackingLink}}" target="_blank"
                            *ngFor="let postImg of postImages | keyvalue | sortby"><img class="bannerImgs"
                                [src]="postImg.value.img"></a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="switch==2">
                <div class="col">
                    <div class="text-center m-5" *ngIf="!storeArray && isFetchingStores">
                        <div class="lds-facebook">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <br>
                    <div class="row mb-0 justify-content-md-center">
                        <div class="col-md-8 text-center mx-auto" *ngIf="2>storeArray.length">
                            <span class="text-center xyz"><br>No related stores....</span>
                        </div>
                        <ng-container *ngFor="let store of storeArray | keyvalue">
                            <div class="col-sm-6 col-lg-2 bg-transparent" *ngIf="store.value.storeURL != storeId">
                                <div class="brand-card bg-transparent" (click)="loadAnotherStore(store.value.storeURL)">
                                    <div class="brand-card-header">
                                        <img src="{{store.value.img}}" class="rounded-circle roundImg" width="100"
                                            height="100" />
                                    </div>
                                    <div class="brand-card-body">
                                        <div class="text-muted small">{{store.value.name | slice:0:15}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">No code required</span><br><br>
        <button type="button" class="btn btn-success" (click)="window.open(editObj.trackingLink)">
            Shop Now
        </button>
        <br>
        <br>
        <span>*No code required. Just click the above button to avail this deal</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">Here is the code</span><br><br>
        <div class="template2">
            {{editObj.code}}
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="copyClipboardFunc()">
            <span *ngIf="!codeCopied">Copy code & Visit Store</span>
            <span *ngIf="codeCopied">Code Copied</span>
        </button>
        <br>
        <br>
        <span>Copy this code and paste it at checkout</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>