<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron">
    <a [routerLink]="['/home']">Home > </a>
    <a [routerLink]="['/categories']">Categories > </a>
    <a [routerLink]="['/category',selectedCatURL]">{{selectedCatURL}}</a>
    <h1 class="display-4 text-center">{{selectedCat}}</h1>
    <br>
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container" style="max-width: 90%">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <form>
                        <ng-select name="selctForm" [closeOnSelect]="true" [searchable]="true" appearance="outline"
                            placeholder="{{myPlaceHolder1}}" [hideSelected]="true" dropdownPosition="bottom"
                            [(ngModel)]="selectCat" (change)="secondaryFunc(selectCat)" (search)="onSearch1($event)">
                            <ng-option [value]="cat.value.categoryURL" *ngFor="let cat of categoryArr | keyvalue">
                                {{cat.value.name}}
                            </ng-option>
                        </ng-select>
                        <!-- <select class="custom-select customSize" name="selctForm" [(ngModel)]="selectCat"
                            (change)="secondaryFunc(selectCat)">
                            <option [value]="cat.value.categoryURL" *ngFor="let cat of categoryArr | keyvalue">
                                {{cat.value.name}}
                            </option>
                        </select> -->
                    </form>
                    <br>
                    <br>
                </div>
                <div class="col">
                    <div class="row mb-0">
                        <div class="text-center" style="position: relative;left: 25%;" *ngIf="isLoading">
                            <div class="lds-facebook">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 px-3 storeArrr" [routerLink]="['/store', store.value.storeURL]"
                            *ngFor="let store of storeArr | keyvalue">
                            <div class="brand-card">
                                <br>
                                <div class="brand-card-header">
                                    <img [src]="store.value.img" style="border:3px solid #20c997"
                                        class="rounded-circle roundImg" width="110" height="110" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="cardTxt">
                                        {{store.value.name | slice:0:10}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>