<div *ngIf="mobile">
    <br>
    <br>
    <br>
</div>
<div class="jumbotron">
    <h1 class="display-4 text-center">About Us</h1>
    <hr class="my-4">
    <p class="lead" style="font-size: 1.45em !important;">
        Find the top most famous brand stores only at <a href="https://www.buymedeal.com">BuyMeDeal</a> and
        shop for your favorite
        products in
        unbelievable prices. We welcome our global customers to come and shop from here with our incredible deals.
        <br>
        <br>
        If you are planning a trip with friends and family then you are on the right place as we will provide you best
        discounted trip offers along with fun filled activities in the city with the best discount vouchers.
        <a href="https://www.buymedeal.com">BuyMeDeal</a> proudly presents best discount offers on your
        favorite high-end saloons, massages and spa
        centers so, next time if you want to get relaxed then check out our deals on our top beauty stores.
        <br>
        <br>
        <a href="https://www.buymedeal.com">BuyMeDeal</a> is a user friendly website which suits according to
        your needs. The website is well
        designed with different easy accessible categories where one can easily search for whatever he wishes to buy. In
        each category you can find out many different stores with great deals and promotion codes and you can choose the
        one which fits your requirement.
        <br>
        <br>
        We bring top quality products at affordable prices at your doorstep. Our main motto is to give you the best
        stress free online shopping experience. We are working with famous well-known brands from all around the world
        like Ikea, Toshiba, Zumiez, Global Gulf, Shutter stock, Eric Dress, 8 Seasons, 724 Perfumes UAE, AMI Club wear
        and lots more. You can easily reach us by our social network from Facebook, Pinterest and Instagram.
        <br>
        <br>
        Now getting high end brands at affordable prices is no more a dream it’s just a click away from you. Check out
        <a href="https://www.buymedeal.com">BuyMeDeal</a> and enjoy great experience of discount codes,
        promotions, exclusive gift offers and best
        deals from your favorite top brand stores around the world.
    </p>
</div>