<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron aboutPage">
    <h1 class="display-4 text-center">About Us</h1>
    <hr class="my-4">
    <p class="lead" style="font-size: 1.8em !important;">
        BuyMeDeal is a site that always takes your side to find your desired products at top-tier brand stores to shop
        your best-loved products in incredible prices. BuyMeDeal is a handy and affectionate website which matches to
        your requisite as we lead world-class products at rock-bottom prices at your threshold.
        <br>
        <br>
        We embrace our customers throughout the world for approaching to shop from here with our surprising deals. The
        website is adaptable designed with various quiet attainable categories that enable anyone to shop simply and
        skillfully all the products your heart wished for. Each category has numerous contrary stores with imposing
        deals and promotion codes so anyone can pick the one which rig out his desideration.
        <br>
        <br>
    </p>
</div>