<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron aboutPage">
    <h1 class="display-4 text-center">About Us</h1>
    <hr class="my-4">
    <p class="lead px-5 mx-2" style="font-size: 1.8em !important;color:#2a2929;font-family: futura;">
        BuyMeDeal is a site that always takes your side to find your desired products at top-tier brand stores to shop
        your best-loved products in incredible prices.
        <br>
        <br>
        BuyMeDeal is a handy and affectionate website which matches to
        your requisite as we lead world-class products at rock-bottom prices at your threshold. The website is adaptable
        designed with various quiet attainable categories that enable anyone to shop simply and skillfully the products
        that their heart ever wished for. Each category has numerous contrary stores with imposing deals and promotion
        codes so anyone can pick the one which rig out his desideration.
        <br>
        <br>
        We embrace our customers throughout the world
        for approaching to shop from here with our surprising deals. Boost your basics needs and wishes, lift up your
        dreams through our website that constantly working for you to fulfill your desires by providing you the best
        ever deals discounts with promo codes and vouchers.
        <br>
        <br>
        From planning a trip with your family friends to going for
        relax on spa or best standard saloon, from choosing stylish cloths to choose décor pieces for home and garden,
        from pet supplies to food supplements, even everything that your heart craving for, we provided you in uppermost
        quality at modest prices.
        <br>
        <br>
        For providing these amazing cost effective products we are working with your favorite
        well known brands like AliExpress, LightInTheBox, Banggood, LovelyWholeSale, KnowFashionStyle, Buyagift,
        RedLetterDays, Boutiquefeel, Joyshoetique, Appliance people, Approved Food and further more. Just click and
        reached us to start easy shopping from <a routerLink="/home">Buymedeal.com</a>.

        <br>
        <br>
    </p>
</div>