<div *ngIf="mobile">
    <br>
    <br>
    <br>
</div>
<div class="jumbotron">
    <a [routerLink]="['/home']" class="breadcrumbs">Home/</a>
    <a [routerLink]="['/categories']" class="breadcrumbs">Categories/</a>
    <h1 class="display-4 text-center">Categories Containing Exciting Stores...</h1>
    <hr class="my-4" />
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="text-center m-5" *ngIf="!categoryArr && isLoading">
                        <div class="lds-facebook">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 p_content" *ngFor="let cat of categoryArr | keyvalue">
                            <a [routerLink]="['/category', cat.value.categoryURL]">{{cat.value.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    Ads will be displayed here
                </div>
            </div>
        </div>
    </div>
</div>