.display-4 {
    font-weight: bold;
    font-family: gothic-bold;
    color: #333;
}
.termsPage a {
    color: #db2e69;
    font-size: 1.1em !important;
}
.jumbotron {
    padding: 1rem 1rem !important;
}
