<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron termsPage">
    <h1 class="display-4 text-center">Terms & Conditions</h1>
    <hr class="my-4">
    <p class="lead" style="font-size: 1.8em !important;">
        We request all of our customers and users of this website to please read carefully our terms and conditions
        thoroughly before shopping from our website in order to enjoy stress free shopping experience.
        <br>
        <br>
        We urge our users to agree our guidelines and other useful sections in order to access our website.
        <br>
        <br>
        We welcome different stores to our website to showcase their brands and for this they provide us their best
        discount deals and promo codes.
        <br>
        <br>
        All the logos, pictures, data and content available on our website is totally our property and nobody has given
        any right to copy our website’s content, a strict legal lawful action would be taken if we found such activity,
        as all of our data is completely our property and is protected by copyright law.
        <br>
        <br>
        You will might get connected to the other website so please ensure to read the terms and conditions of that
        website before making any purchase as we work only as a third party and have no right to disclaim their
        policies.
        <br>
        <br>
        We have right to terminate and discontinue any user if we found him/her abusive or at our sole discretion.
        <br>
        <br>
        We can discontinue or dismiss any voucher at any time without providing prior notice.
        <br>
        <br>
        We inform all our users that we are not responsible for any of the website you link to and the user of the
        website is responsible to agree or disagree their terms and conditions.
        <br>
        <br>
        All the users using this website must be 18 years or above or else the website should be used under adult
        supervision.
        <br>
        <br>
        Our online customer helpline service is available 24/7 and if you have any queries you can contact us anytime.
        <br>
        <br>
        Have a fun filled shopping experience.
        <br>
        <br>
        Regards,
        <br>
        <br>
        <a href="https://www.buymedeal.com">WwW.BuyMeDeal.CoM</a>
    </p>
</div>