<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->
<div class="jumbotron termsPage">
    <h1 class="display-4 text-center">Terms & Conditions</h1>
    <hr class="my-4">
    <p class="lead px-5 mx-2" style="font-size: 1.8em !important;font-family: futura;color:#2a2929">

        We welcome to you on <a routerLink="/home">Buymedeal.com</a> we superintend the site through some rules that we
        set attentively
        for the welfare of supplier and customer. So we provide the Site to you subject to the following terms and
        conditions of use.

        <br>
        <br>

        This is a contract between you and us which is subject to change without any notice. If you
        visit or shop at the Site, you must accept these Terms & conditions, kindly read them carefully.
        If you want to shop with us, first you need to register with us then make an account, without registration and
        account you can’t be allowed to shop with us.

        <br>
        <br>

        Providing veritable information is vital such as your name, actual
        address and payment details so we can make the whole process of purchasing easy and well ordered. Now you are
        simply required to sign up and create an account for shopping.
        For facile admirable delivery and services we share your info with our sales assistant and riders but pledging
        to keep your information personal.

        <br>
        <br>

        If it seems that your passwords or account or any other personal info is
        using by others or any type of misuse you feel, inform us immediately it is against our rule, we will take
        powerful action because we don’t allow to offending our rules.
        We will repeatedly ask you to update your password because of security reasons. You must upgrade it because we
        may inactive your account without inform you we’ve right to do this, if you do not updated. You should mandatory
        to impart your information with us whenever we call for it.

        <br>
        <br>

        We deliver your all orders within a week (5 To 7 working days). Every voucher has let out the certain date of
        delivery as mentioned on each voucher, in case of delay we will message you. Expiry date of any coupon or deal
        is plainly mentioned, once it expired or invalid.
        We’ve the right to cancel your voucher or deal, in any case of ravishing against our laws. If you buy the
        products whose shipment is free it is assuredly and understandably mentioned below. We don't give any guarantee
        if the product is deformed.


        <br>
        <br>

        The conformation of your order has done once you pay off. We will impart the substitute, if we make any type
        of change in our deal coupons before the expiry date. We have the right to cancel the order at any moment. In
        case the amount takes from, we will compensate you. We don't allow reselling the voucher to any other.
        All the prices are quoted in terms of dolor, we only accept online payments. All the remittance is made
        through debit and credit cards, within 5 to 6 days we may debited the amount to your account. Our deals are only
        use personal we are not allowed to use it for business purpose.
        We can't take the responsibility for the given information of the brands or services, whether it's formed
        inadequate or inappropriate or deficient for you.


        <br>
        <br>

        We desire to the users of our site to acknowledge our instruction and other functional modules for approaching
        and get benefited this from website. We may amend on these terms and conditions sporadically, to retain you up
        to date with the fresh products and services. So you must survey these terms and condition periodically, because
        we have the right to change, erase or append these terms & conditions without any initial intimation.
        If you want to ask any question with the reference to our terms and conditions you can contact us or can email,
        our helpline service is available 24/7 to assist you.

        <br>
        <br>
    </p>
</div>