<div class="jumbotron">
  <h1 class="display-4 text-center">Privacy & Policy</h1>
  <hr class="my-4" />
  <p
    class="lead px-5 mx-2"
    style="font-size: 1.7em !important; font-family: futura; color: #2a2929"
  >
    At <a routerLink="/">FettleForum.com</a>, we value our consumers, we
    designed the privacy policy for the sake of our consumer’s protection,
    segregation, and privacy. The purpose behind sketching this privacy policy
    is to keep private and secure all the records and personal info of site
    users, as they need to share their data or info for being a part of this
    site user, who intended to shop from us. our site draft this privacy policy
    for keeping checks on the activities of the users, so the progress of our
    website can be better acc to the needs of our consumers. We appreciate our
    customer's trust as they share their personalized info so it is our
    responsibility to not break their trust, and make sure to secure your
    statistics from any kind of misuse and inauspicious purpose.
  </p>
  <br />
  <br />

  <ul class="px-5 mx-5">
    <li class="termsListItem">
      Our attentive team is always alert to save your personal information
      including your name, address, phone number, email id, and address.
    </li>
    <li class="termsListItem">
      We pledge to take full responsibility for your order until it gets to you
      at your doorstep, this process has been started from the moment you share
      your data for delivery.
    </li>
    <li class="termsListItem">
      We bear and endorse the loss in any case of mishaps with your order as we
      mentioned that we take full responsibility for your parcel
    </li>
    <li class="termsListItem">
      For courier services and delivery purposes, we only share your name and
      address with a third party for the verification of payment and
      transaction, and to access the services, we use your personal information
    </li>

    <li class="termsListItem">
      Your data may be used for market surveys, development, and improvement of
      web content and may also be used for analysis purposes, with keeping
      surety to make it safe and secure.
    </li>
    <li class="termsListItem">
      We have the right to cancel any account created by children under 13, we
      don't allow them to register and buy with us without their parent or
      guardian counseling.
    </li>
    <li class="termsListItem">
      We collected all your data from a secure server we don't allow any
      unauthorized to see or check your personal information according to our
      policy rule.
    </li>
    <li class="termsListItem">
      Furthermore, verifications need some identity checks from time to time,
      it’s your responsibility to secure your passwords from any kind of
      unauthorized user because we may not take responsibility in any case
    </li>
    <li class="termsListItem">
      In any case, if you feel threatened by abusing your personal information
      through an unsecured hand at any given point, you've to inform us
      instantly, our customer support representative will be alert and take
      notice of your single call.
    </li>
    <li class="termsListItem">
      <a routerLink="/">FettleForum.com</a>, their team, and business partners
      always stand by you for giving you security for intending to make sure
      that the safety of your data and personal information is our
      responsibility.
    </li>
  </ul>

  <br />
  <br />
</div>
