<div class="jumbotron">
    <h1 class="display-4 text-center">Privacy & Policy</h1>
    <hr class="my-4">
    <p class="lead px-5 mx-2" style="font-size: 1.8em !important;font-family: futura;color:#2a2929">

        <a routerLink="/">Buymedeal.com</a> always valued his customer that’s why we draft a privacy policy for the
        protection of customer's
        confidentiality and sequestration.
        <br>
        <br>
        As our customers trust on us and share their personal data and info with us
        for procuring, we highly evaluate and value our customer's trust on us so we make sure to safe and shielded your
        personalized information and data from misuse to any other baleful motive.

        <br>
        <br>

        Our team substantiate for making sure of your privacy security that the information you shared for, include your
        name, email id, phone number and your residential address, is safe from any misapply.

        We make sure that your order is our responsibility until it gets to you safely in your hand from our hand. In
        case, if your order misfortunately has any setback, we put up with the loss.

        <br>
        <br>

        We use your personal information but only for approaching the services and deals and vindicate the payment and
        proceeding. We just use your address and name for sharing with a third party such as delivery person and the
        purpose is to make delivery and courier services facile.
        We may employ your personal data for the market survey reason, design and betterment the web content or we may
        use it for analysis purposes.

        <br>
        <br>

        Even we give you surety to still safe, hide or nondescript your specification.
        We don’t allow children to register and buy with us as we set some rules in which children rights are our
        extreme priority. According to these rules children under 13 can’t make account without parental guidance even
        in case of notice, any created account of children below 13, will be cancel by our authority.
        As we take responsibilities in which, we accumulate your data by secure server so the surety is your personal
        info can’t be seen or use by any unapproved users. Not only this, we also elaborate the identity checks
        occasionally for further verifications.
        <br>
        <br>
        Now it’s your turn to take responsibility of your passwords and gadgets
        because we are not responsible in case of stolen or misuse of your password and gadgets.
        Our customer support representative will attentive on your call in the case of threatened or if you feel
        unsecured at any given point about the abuse of your personal info.

        <br>
        <br>

        We are with you including our team, partners
        of business and others for the security and safety of all your data and personal information.


        <br>
        <br>
    </p>
</div>