<div class="jumbotron">
    <h1 class="display-4 text-center">Privacy & Policy</h1>
    <hr class="my-4">
    <p class="lead" style="font-size: 1.8em !important;font-family: intervogue;">
        A privacy policy is made to keep the records of personal information of the visitors of the site in order to
        keep a check on the activities of the users so that a website can be more improved according to the requirements
        of a customer.
        <br>
        <br>
        We ensure all our customers that the personal information collected from them will be kept confidential and will
        only be used in order to serve them and will not be share or sell to anyone.
        <br>
        <br>
        Our website use cookies in order to improve your browsing experience, you can accept or dismiss by scrolling
        down. You can discontinue the use of our site if you don’t agree with any terms found in this privacy policy.
        <br>
        <br>
        We usually collects your general personal information such as your name, email address, contact number, your
        address, passwords, your security data, payment information, your social media login data which can be further
        used for authentication and account access if you make any purchases.
        <br>
        <br>
        All the personal and payment details are well stored by our customer care center and are kept totally
        confidential.
        <br>
        <br>
        You are requested to provide us the correct information, and all the data provided by use should not be fake
        otherwise a strict legal action might be taken from our website.
        <br>
        <br>
        Each product bought from our website will have different criteria of shipment and we offer free shipping to most
        of the cities and it would take 2-3 working days.
    </p>
</div>