<!-- <div *ngIf="mobile">
    <br>
    <br>
    <br>
</div> -->

<!-- <div class="col-md-12">
    <div class="pull-left"><img [src]="blogNode.img" /></div>
    <div class="pull-left">Just like picking out the right clothing is essential for human beings, similarly getting
        toys is not a luxury for our dogs but more of a necessity in their case. Toys are certainly important for your
        dog's mental and physical health, a source of comfort when you leave them home alone and at times, they are
        nervous. Toys might even help your dog develop certain behavioral problems. But while selecting dog toys you
        must ensure that they are safe and chew friendly. Many factors go into account while selecting a toy and most of
        them depend upon the size, preference, and activity level of your dog. Just like picking out the right clothing
        is essential for human beings, similarly getting toys is not a luxury for our dogs but more of a necessity in
        their case. Toys are certainly important for your dog's mental and physical health, a source of comfort when you
        leave them home alone and at times, they are nervous. Toys might even help your dog develop certain behavioral
        problems. But while selecting dog toys you must ensure that they are safe and chew friendly. Many factors go
        into account while selecting a toy and most of them depend upon the size, preference, and activity level of your
        dog.</div>
</div> -->

<!-- <div class="row">
    <div class="col-md-12">
        <div *ngIf="blogNode.framestartContent" class="pull-right text-center" style="width: 15%;">
            <img style="display: block;width: 100%;"
                src="//wms-na.amazon-adsystem.com/panda/20070822/US/img/a-logo-amazon.png">
            <img style="display: block;width: 100%;margin-top: 17px;margin-bottom: 10px;"
                [src]="blogNode.framestartContent.imageLink">
            <a [href]="blogNode.framestartContent.detailLink" target="_blank"
                class="gridA noStyle">{{blogNode.framestartContent.title}}</a>
            <div class="row">
                <div class="col"><span
                        style="font-size: 1.05em;">{{blogNode.framestartContent.price}}</span></div>
                <div class="col"><img style="width: 75%;"
                        src="//wms-na.amazon-adsystem.com/panda/20070822/US/img/prime.png">
                </div>
            </div>
            <div class="amazonBtn py-2 px-2 text-left">
                <a [href]="blogNode.framestartContent.detailLink" target="_blank"
                    class="noStyle btnA">
                    <img style="width: 18%;"
                        src="https://wms-na.amazon-adsystem.com/panda/20070822/US/img/cart.gif">
                    <span class="ml-2">Shop Now</span>
                </a>
            </div>
        </div>
        <div [innerHTML]="blogNode.longDesFirst | sanitizeHtml"></div>
    </div>
</div> -->

<div class="jumbotron blogJumb">
    <a [routerLink]="['/home']">Home > </a>
    <a [routerLink]="['/blogs']">Blogs > </a>
    <a [routerLink]="['/blog',blogURL]">{{blogURL}}</a>
    <div class="lead" style="font-size: 1.5em !important;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container" [ngClass]="{'mx-0 px-0': mobile, 'maxW90':!mobile}">
            <div class="text-center m-5" *ngIf="!blogNode && isFetching">
                <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="col" *ngIf="blogNode">
                <div *ngIf="!blogNode.showVertically">
                    <div class="w-100 text-center my-3">
                        <img [src]="blogNode.img" [ngClass]="{'cw80': !mobile,'cw100':mobile}">
                    </div>
                    <!-- <div [innerHTML]="iFrameObj"></div> -->
                    <br>
                    <h1 class="display-4 text-center">{{blogNode.title}}</h1>
                    <br>
                    <br>
                    <div class="ck-content">
                        <div [innerHTML]="blogNode.longDesFirst | sanitizeHtml"></div>
                    </div>
                    <br>

                    <div class="row my-4" *ngIf="blogNode.longDesMiddle1">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle1 | sanitizeHtml"></div>
                            <br>
                            <div class="row asdf" *ngIf="blogNode.pros1.length && blogNode.cons1.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros1 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons1 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid1" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink1)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>

                    <div class="row my-4" *ngIf="blogNode.longDesMiddle2">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle2 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros2.length && blogNode.cons2.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros2 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons2 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid2" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink2)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>

                    <div class="row my-4" *ngIf="blogNode.longDesMiddle3">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle3 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros3.length && blogNode.cons3.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros3 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons3 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid3" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink3)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle4">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle4 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros4.length && blogNode.cons4.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros4 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons4 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid4" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink4)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle5">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle5 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros5.length && blogNode.cons5.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros5 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons5 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid5" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink5)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle6">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle6 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros6.length && blogNode.cons6.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros6 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons6 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid6" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink6)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle7">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle7 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros7.length && blogNode.cons7.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros7 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons7 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid7" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink7)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle8">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle8 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros8.length && blogNode.cons8.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros8 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons8 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid8" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink8)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle9">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle9 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros9.length && blogNode.cons9.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros9 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons9 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid9" alt="xyz" class="rounded mx-3 w100m">

                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink9)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>
                    <div class="row my-4" *ngIf="blogNode.longDesMiddle10">
                        <div class="col-xs-12 col-lg-8">
                            <div [innerHTML]="blogNode.longDesMiddle10 | sanitizeHtml"></div>
                            <br>
                            <div class="row" *ngIf="blogNode.pros10.length && blogNode.cons10.length">
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item list-group-item-success text-center font-weight-bold">
                                            PROS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.pros10 | keyvalue"><i
                                                class="cui-check icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-12 border px-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-danger text-center font-weight-bold">
                                            CONS</li>
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item list-group-item-light border-0"
                                            *ngFor="let data of blogNode.cons10 | keyvalue"><i
                                                class="cui-ban icons mr-3"></i>{{data.value}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 text-center">
                            <img [src]="blogNode.imgGrid10" alt="xyz" class="rounded mx-3 w100m">

                            <!-- <a class="btn btn-success" (click)="openLink(blogNode.amazonLink10)">{{blogNode.buttonTxt}}</a> -->
                            <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink10)"
                                class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                            </button>
                        </div>
                    </div>

                    <div class="mb-5" [innerHTML]="blogNode.longDesLast | sanitizeHtml" *ngIf="blogNode.longDesLast">
                    </div>
                </div>


                <div *ngIf="blogNode.showVertically" class="text-center">
                    <br>
                    <img [src]="blogNode.img" [ngClass]="{'cw80': !mobile,'cw100':mobile}">
                    <br>
                    <br>
                    <h1 class="display-4 text-center">{{blogNode.title}}</h1>
                    <br>
                    <br>
                    <div [innerHTML]="blogNode.longDesFirst | sanitizeHtml" class="text-left"></div>
                    <br>

                    <div *ngIf="blogNode.longDesMiddle1">
                        <div [innerHTML]="blogNode.longDesMiddle1 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid1" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink1)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle2">
                        <div [innerHTML]="blogNode.longDesMiddle2 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid2" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink2)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle3">
                        <div [innerHTML]="blogNode.longDesMiddle3 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid3" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink3)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle4">
                        <div [innerHTML]="blogNode.longDesMiddle4 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid4" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink4)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle5">
                        <div [innerHTML]="blogNode.longDesMiddle5 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid5" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink5)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle6">
                        <div [innerHTML]="blogNode.longDesMiddle6 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid6" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink6)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle7">
                        <div [innerHTML]="blogNode.longDesMiddle7 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid7" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink7)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle8">
                        <div [innerHTML]="blogNode.longDesMiddle8 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid8" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink8)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle9">
                        <div [innerHTML]="blogNode.longDesMiddle9 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid9" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink9)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>

                    <div *ngIf="blogNode.longDesMiddle10">
                        <div [innerHTML]="blogNode.longDesMiddle10 | sanitizeHtml" class="text-left"></div>
                        <br>
                        <img [src]="blogNode.imgGrid10" alt="xyz" class="rounded mx-3 w30m">
                        <br>
                        <button type="button" *ngIf="blogNode.buttonTxt" (click)="openLink(blogNode.amazonLink10)"
                            class="mt-4 btn btn-danger rounded buyBtn">{{blogNode.buttonTxt}}
                        </button>
                        <br>
                        <br>
                    </div>


                    <div class="mb-5 text-left" [innerHTML]="blogNode.longDesLast | sanitizeHtml"
                        *ngIf="blogNode.longDesLast">
                    </div>
                </div>

                <button type="button" class="btn btn-danger mx-3 mb-2 active storeBtn"
                    *ngFor="let obj of blogNode.relatedStores | keyvalue"
                    [routerLink]="['/store', obj.value]">{{obj.value}}</button>
            </div>
        </div>
    </div>
</div>