<div *ngIf="mobile">
    <br>
    <br>
    <br>
</div>
<div class="jumbotron">
    <a [routerLink]="['/home']">Home/</a>
    <a [routerLink]="['/blogs']">Blogs/</a>
    <a [routerLink]="['/blog',blogURL]">{{blogURL}}/</a>
    <div class="lead" style="font-size: 1.4em !important;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="text-center m-5" *ngIf="!blogNode && isFetching">
                <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="col" *ngIf="blogNode">
                <br>
                <img [src]="blogNode.img" style="width: 100%;">
                <br>
                <br>
                <div>
                    <h1 class="display-4 text-center">{{blogNode.title}}</h1>
                    <br>
                    <div [innerHTML]="blogNode.longDes"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>