<br>
<br>
<ngb-carousel *ngIf="slideArray" class="height87" interval="3000" [pauseOnHover]="false">
    <ng-template ngbSlide *ngFor="let slide of slideArray | keyvalue">
        <ng-container>
            <img [src]="slide.value.img" class="height87" alt="Random first slide">
        </ng-container>
    </ng-template>
</ngb-carousel>
<div class="text-center m-5" *ngIf="!slideArray">
    <div class="lds-hourglass"></div>
</div>
<br>
<div class="text-center m-5" *ngIf="!storeArray">
    <div class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="row justify-content-md-center mb-0" style="margin:auto 30px">
    <div class="col-md-4 xxzz" *ngFor="let blog of blogArray | keyvalue" [routerLink]="['/blog', blog.value.blogURL]">
        <div class="card">
            <img [src]="blog.value.img" class="card-img-top">
            <div class="card-body">
                <div class="table">
                    <h6 class="text-center">
                        {{blog.value.title | slice:0:30}}
                    </h6>
                    <br>
                    <h4 class="card-caption text-center" [innerHTML]="blog.value.shortDes | slice:0:85"></h4>
                    <div class="ftr">
                        <div class="author">
                            <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt=""
                                class="avatar img-raised avatar-img rounded-circle">
                            <span class="userNm">{{blog.value.author}}</span>
                            <div class="ripple-cont">
                                <div class="ripple ripple-on ripple-out"
                                    style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);">
                                </div>
                            </div>
                        </div>
                        <a class="stats onlyL">View more&nbsp;&nbsp;<i class="cui-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-12 col-lg-4 visitCoupon" *ngFor="let blog of blogArray | keyvalue"
        [routerLink]="['/blog', blog.value.blogURL]">
        <div class="brand-card" [ngClass]="{'applyMargin': web}">
            <div class="brand-card-header">
                <img [src]="blog.value.img" class="blogImg" />
            </div>
            <br>
            <div class="brand-card-body changeFlex">
                <h3 class="blogTitle">{{blog.value.title | slice:0:38}}</h3>
                <br>
                <span class="author"><b><i class="cui-user"></i></b>&nbsp;&nbsp;&nbsp;By: Danish</span>
                <br>
                <br>
                <p class="blogText" [innerHTML]="blog.value.shortDes | slice:0:160"></p>
                <a class="pull-right">CONTINUE READING<i class="cui-arrow-right"></i></a>
            </div>
            <br>
        </div>
    </div> -->
</div>

<ul class="tranding_select tabs">
    <li class="tab"><a routerLink="/blogs" class="waves-effect btn active">View all
            Blogs</a></li>
</ul>
<br>
<div class="row justify-content-md-center mb-0" [ngClass]="{'ifWeb': web}" style="margin: auto 5px;">
    <div class="col-md-3 visitCoupon" *ngFor="let store of storeArray | keyvalue;index as i;"
        [routerLink]="['/store', store.value.storeURL]">
        <div class="card profile-card-1" *ngIf="i%2!=0">
            <img src="../../assets/images/dback.jpeg" alt="profile-sample1" class="background" />
            <img [src]="store.value.img" alt="profile-image" class="profile" />
            <div class="card-content">
                <h2>{{store.value.name}}<small>Store</small></h2>
                <br>
                <!-- <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i
                            class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
                <button type="button" class="btn btn-outline-light"
                    style="padding: 30px auto 30px auto;">Explore</button>
            </div>
        </div>
        <div class="card profile-card-3" *ngIf="i%2==0">
            <div class="background-block">
                <img src="../../assets/images/aback2.jpeg" alt="profile-sample1" class="background" />
            </div>
            <div class="profile-thumb-block">
                <img [src]="store.value.img" alt="profile-image" class="profile" />
            </div>
            <div class="card-content">
                <h2>{{store.value.name}}<small>Store</small></h2>
                <br>
                <button type="button" class="btn btn-outline-dark"
                    style="padding: 30px auto 30px auto;">Explore</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-6 col-lg-2 visitCoupon" *ngFor="let store of storeArray | keyvalue"
        [routerLink]="['/store', store.value.storeURL]">
        <div class="brand-card">
            <div class="brand-card-header">
                <img [src]="store.value.img" class="rounded-circle roundImg" width="100" height="100" />
            </div>
            <br>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">
                        <i class="fa fa-share-square-o storeIcon"></i>
                    </div>
                    <div class="text-uppercase text-muted small">Coupons</div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<ul class="tranding_select tabs">
    <li class="tab"><a routerLink="/stores" class="waves-effect btn active">View all
            Stores</a></li>
</ul>

<br>

<section class="min_container min_pages">
    <div class="section_row">
        <div class="col">
            <div class="right_side_bar">
                <div class="right_sidebar_iner">
                    <div class="popular_posts">
                        <h3 class="categories_tittle">Popular Blogs</h3>
                        <div class="text-center m-5" *ngIf="!blogArray">
                            <div class="lds-ripple">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item" [routerLink]="['/blog', blog.value.blogURL]"
                            *ngFor="let blog of blogArray | keyvalue | slice:-6">
                            <div class="col-3 p_img">
                                <div class="manAvatar">
                                    <img [src]="blog.value.img" class="customImgRound">
                                </div>
                            </div>
                            <div class="col s9 p_content">
                                <a>{{blog.value.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="middle_section" id="infinite_scroll" style="padding:0 !important">
                <div id="featured">
                    <div class="card">
                        <br>
                        <a class="text-center display-4">Your Favourite Deals And Discounts</a>
                        <br>
                        <br>
                        <table class="table table-responsive-sm table-hover table-outline mb-0">
                            <tbody>
                                <tr *ngIf="!dealsArray">
                                    <div class="text-center m-5">
                                        <div class="lds-facebook">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </tr>
                                <tr *ngFor="let deal of dealsArray | keyvalue">
                                    <td class="text-center">
                                        <div class="avatar">
                                            <img src="assets/images/soblue.png" class="img-avatar">
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{deal.value.offerBox}}</div>
                                        <div class="small text-muted">
                                            <span>Validity</span> | <span>{{deal.value.expDate | date}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary active"
                                            (click)="openModal2(template2,deal.value)"
                                            *ngIf="!deal.value.activeStatus">Copy
                                            code</button>
                                        <button type="button" class="btn btn-sm btn-primary active"
                                            (click)="openModal(template,deal.value)" *ngIf="deal.value.activeStatus">Get
                                            Deal</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="left_side_bar">
                <div class="interests">
                    <h3 class="categories_tittle">Your Interests</h3>
                    <ul class="interests_list">
                        <li [routerLink]="['/category','fitness']"><a><i class="fa fa-bar-chart"></i>Fitness</a></li>
                        <li [routerLink]="['/category','apparel-and-clothing']"><a><i
                                    class="fa fa-shopping-cart fa-lg"></i>Apparel & Clothing</a></li>
                        <li [routerLink]="['/category','toys']"><a><i class="fa fa-puzzle-piece"></i>Toys</a></li>
                        <li [routerLink]="['/category','departmental-stores']"><a><i
                                    class="fa fa-plus-square"></i>Departmental Stores</a></li>
                        <li [routerLink]="['/category','home-and-garden']"><a><i class="fa fa-home"></i>Home &
                                Garden</a></li>
                        <li [routerLink]="['/category','baby-and-kids']"><a><i class="fa fa-life-ring"></i>Baby &
                                Kids</a></li>
                        <li [routerLink]="['/category','office-accessories']"><a><i class="fa fa-briefcase"></i>Office
                                Accessories</a></li>
                        <li [routerLink]="['/category','hobbie']"><a><i class="fa fa-object-group"></i>Hobbie</a></li>
                        <li [routerLink]="['/category','travel-and-hotel']"><a><i class="fa fa-hotel"></i>Travel
                                & Hotel</a></li>
                        <li [routerLink]="['/category','restaurants']"><a><i class="fa fa-bank"></i>Restaurants</a>
                        </li>
                    </ul>
                </div>
                <div class="social_Sharing">
                    <h3 class="categories_tittle">Social Sharing</h3>
                    <ul class="social_icon">
                        <li><a><i class="fa fa-twitter"></i></a></li>
                        <li><a class="googleplus"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">No code required</span><br><br>
        <button type="button" class="btn btn-success" (click)="window.open(editObj.trackingLink)">
            Shop Now
        </button>
        <br>
        <br>
        <span>*No code required. Just click the above button to avail this deal</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">Here is the code</span><br><br>
        <div class="template2">
            {{editObj.code}}
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="copyClipboardFunc()">
            <span *ngIf="!codeCopied">Copy code & Visit Store</span>
            <span *ngIf="codeCopied">Code Copied</span>
        </button>
        <br>
        <br>
        <span>Copy this code and paste it at checkout</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
<input id='copyfrom' [(ngModel)]="hiddenInput" tabindex='-1' aria-hidden='true'>