.imgTh {
    border: 8px solid #28BAA2;
    padding: 5px
}

td {
    font-size: 1.3em
}

.brand-card-header {
    height: auto!important
}

.roundImg {
    margin-top: 10px
}

.storeIcon {
    font-size: 1.4em
}

.dealsHead {
    font-weight: 400!important;
    color: #789aaf!important;
    font-size: 1.4em!important
}

.visitBtn {
    width: 40px!important;
    height: 40px!important;
    line-height: 40px!important
}

.btn_floating:hover {
    cursor: pointer!important
}

.dealCard {
    margin: 0!important
}

.interests {
    padding-top: 0!important
}

.right_sidebar_iner {
    padding-top: 15px!important
}

.display-4 {
    font-size: 3.2em
}

.height87 {
    height: 88vh
}

.manAvatar {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px
}

.customImgRound {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;
}

.avatar {
    width: 42px!important;
    height: 42px!important
}

.visitCoupon:hover {
    cursor: pointer
}

.modal-header {
    background-color: #20a8d8!important;
    color: #fff!important
}

.template2 {
    width: 100%;
    height: 50px;
    background-color: #40e0d0;
    border: 2px dashed #fff;
    font-size: 1.5em;
    color: #fff;
    padding-top: 9px;
    margin: 5px auto
}

#copyfrom {
    position: absolute;
    left: -9999px
}

.popular_item:hover {
    cursor: pointer
}

.blogImg {
    width: 100%;
    height: 100%
}

.changeFlex {
    display: block!important
}

.changeFlex a {
    color: #28BAA2;
    font-size: 1.25em;
    margin-right: 20px;
    letter-spacing: .05em
}

.changeFlex a:hover {
    color: #25cbb0
}

.blogTitle {
    font-weight: lighter;
    margin: auto 10px;
    margin-top: -20px;
    border:none !important
}

.blogText {
    font-size: 1.3em;
    font-weight: 300;
    margin: auto 15px;
    border:none !important
}

.author {
    font-size: 1.3em;
    font-weight: lighter;
    border:none !important
}

.col-sm-12,
.col-sm-6 {
    padding-left: 0!important;
    padding-right: 0!important
}
.applyMargin {
    margin: auto 17px
}
b{
    vertical-align: middle;
}
b>i{
    font-weight: 900;
}
ul.interests_list li:hover{
    cursor: pointer;
}
.social_icon li:hover{
    cursor: pointer;
}