.imgTh {
    border: 8px solid #e50863;
    padding: 5px;
}
.customBorRadius {
    border-radius: 20px;
    overflow: hidden;
}
td {
    font-size: 1.3em;
}
.brand-card {
    background: #e5e4e2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.brand-card-header {
    height: auto !important;
}
.roundImg {
    margin-top: 8%;
    border-width: 3px !important;
}
.dealsHead {
    font-weight: 400 !important;
    color: #789aaf !important;
    font-size: 1.4em !important;
}
.visitBtn {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}
.btn_floating:hover {
    cursor: pointer !important;
}
.dealCard {
    margin: 0 !important;
}
.interests {
    padding-top: 0 !important;
}
.right_sidebar_iner {
    padding-top: 15px !important;
}
.display-4 {
    font-size: 3.2em;
}
.height87 {
    height: 102vh;
}
.w100 {
    width: 100%;
}
.w100:hover {
    cursor: pointer;
}
.manAvatar {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}

.customImgRound {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;
}

.avatar {
    width: 42px !important;
    height: 42px !important;
}

#copyfrom {
    position: absolute;
    left: -9999px;
}
.popular_item:hover {
    cursor: pointer;
}

.blogImg {
    width: 100%;
    height: 100%;
}

.changeFlex {
    display: block !important;
}

.changeFlex a {
    color: #e50863 !important;
    font-size: 1.25em;
    margin-right: 20px;
    letter-spacing: 0.05em;
}

.changeFlex a:hover {
    color: #25cbb0 !important;
}

.blogTitle {
    font-weight: 700;
    margin: auto 10px;
    margin-top: -20px;
    border: none !important;
    font-family: gothic-bold;
    font-size: 1.6rem !important;
}

.blogText {
    font-size: 1.5em;
    font-weight: 300;
    margin: auto 15px;
    border: none !important;
    text-overflow: ellipsis;
    max-height: 90px;
    line-height: 1.8em;
    overflow: hidden;
}

.author {
    font-size: 1.3em;
    font-weight: lighter;
    border: none !important;
}
b {
    vertical-align: middle;
}
b > i {
    font-weight: 900;
}
ul.interests_list li:hover {
    cursor: pointer;
}
.social_icon li:hover {
    cursor: pointer;
}
.br15 {
    border-radius: 7%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.jumbotron {
    margin-bottom: 0;
}
div.scrollmenu {
    overflow: visible;
    white-space: nowrap;
}

div.scrollmenu div.indCard {
    display: inline-block;
    text-align: center;
}
.list-group-item-home {
    max-width: 300px;
    width: 300px;
    padding: 0;
    margin: auto 10px;
    border: none;
    background-color: transparent;
}
.list-group-item-home .card {
    border-radius: 15px;
    max-width: 300px;
    width: 300px;
    margin-bottom: 1rem;
    background: #e5e4e2;
}
.list-group-item-home .card-text,
.dealsRow .card-text {
    font-size: 1.5em;
}
.activeClr a {
    color: #e5166b !important;
}
.dealsRow div.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.dealsRow div.card img {
    max-width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #e5166b;
}
.dealsRow div.card div.card-header {
    height: 100px;
    border-radius: 10px;
}
::ng-deep .carousel-item {
    display: block !important;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1.3s;
}
.min_container .section_row {
    width: 100% !important;
}
::ng-deep .carousel-item.active {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    top: 0;
}
div.dealsRow > div.col-md-3 {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes example {
    0% {
        top: 50px;
    }
    100% {
        top: 50px;
    }
}
.display-4 {
    font-weight: bold;
    color: #333;
    font-family: gothic-bold;
    font-size: 3.5em !important;
}

img.partnerImg {
    width: 60%;
    // margin: auto 70px auto 70px;
}
img.partnerImg2 {
    width: 15%;
    margin: auto 70px;
}
img.partnerImgMobile {
    width: 30%;
    margin: auto 70px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    cursor: pointer;
}
.jumbotron {
    padding: 1rem 1rem !important;
}

ul.list-group-for-store > li div.card {
    max-width: 352px;
    max-height: 352px;
    overflow: hidden;
    border: none;
}
ul.list-group-for-store > li img {
    // -webkit-filter: grayscale(100%);
    //    -moz-filter: grayscale(100%);
    //      -o-filter: grayscale(100%);
    //     -ms-filter: grayscale(100%);
    //         filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.6s ease;
    -webkit-backface-visibility: hidden;
}
ul.list-group-for-store > li > div.card > img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}
// ul.list-group-for-store > li div.card-img-overlay:hover{

// }
ul.list-group-for-store > li > div.card > img.storeSliderImg {
    filter: none !important;
    -webkit-filter: grayscale(0%) !important;
}
button.storeSlideBtn {
    height: 50px;
    width: 66%;
    margin: 0 auto;
    // background: #5c6873 !important;
    // border-color: #5c6873 !important;
    font-family: gothic-bold;
    // font-weight: 500;
    font-size: 1.2em;
}

.author {
    font-size: 1.3em;
    font-weight: lighter;
    border: none !important;
}
.userNm {
    margin-left: 15px;
    font-size: 1.2em;
    text-transform: capitalize;
}
